*body {
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
  background-color: rgb(255, 255, 255);
  color: black;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-link {
  position: relative;
  color: #fff;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #0091ff;
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}

/* akhir navbar */
/* deskripsi */
#typing-container {
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #000;
  /* Simulasi cursor blinking */
}
.title-home {
  font-family: "Kanit", sans-serif;
  font-size: xx-large;
  font-style: normal;
  color: #007bff;
}
#typing-text {
  display: inline-block;
  font-family: "Kanit";
  font-style: inherit;
}

.bg-home {
  background-image: url(/img/blob2.png);
  background-size: cover;
}
.intro-junior {
  font-family: "popins";
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* about */
.img-about {
  background-color: #e6e5e5;
}
.title-about {
  color: #007bff;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.title-deskripsi-about span {
  color: #007bff;
  font-family: kanit;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
